.env
/vendor/
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/exports/*
!/storage/exports/.gitkeep
/storage/temporary/*
!/storage/temporary/.gitkeep
/storage/backups/*
!/storage/backups/.gitkeep
/storage/private/*
!/storage/private/.gitkeep
/public/assets/tenant/*
!/public/assets/tenant/.gitkeep
*.log
.DS_Store
Thumbs.db
composer.lock
.env.production
.ssh/
composer.phar
